

/* main section */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.home div{
    flex: 1;
}
/* intro section */
.home .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    height:90vh;
}
.home .intro h1{
    text-align: center;
    font-size: 3.5rem;
    color: #f5a60a;
    margin-bottom: 20px;
}
.home .intro p{
    font-style: italic;
    text-align: right;
    font-size: 1.5rem;
    color: #0840a7;
    margin-bottom: 20px;
    margin-top: -20px;
    margin-left: 250px;
}
/* CSS for form */
.home .login-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #4C7B8B;
    height:90vh;
    width:50vw;
}
.login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    height:60%
}
.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}
.form-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.login-button:hover {
    background-color: #0056b3;
}
.login-form p {
    margin-top: 15px;
    text-align: center;
    font-size: 0.9rem;
}
.login-form a {
    color: #007bff;
    text-decoration: none;
}
.login-form a:hover {
    text-decoration: underline;
}